@media print {
	@page {
		size: A4 !important;
		margin: 0 !important;
	}

	body {
		font-size: 32px;
		margin: 0 !important;
	}

	.no-print {
		display: none !important;
	}

	.print-only {
		display: block !important;
	}
}
